text {
    pointer-events: none;
}

path {
    pointer-events: none;
}

g.node rect {
    transition: filter 0.3s ease;
    cursor: pointer;
}

g.node rect:hover {
    filter: brightness(1.25) drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4));
}

g.node.alive > rect {
    filter: drop-shadow(0px 0px 10px rgba(0, 150, 0, 1));
}

g.node.alive > rect:hover {
    filter: brightness(1.25) drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4))
        drop-shadow(0px 0px 10px rgba(0, 150, 0, 1));
}

g.node.dead > rect {
    filter: drop-shadow(0px 0px 10px rgba(105, 0, 130, 1));
}

g.node.dead > rect:hover {
    filter: brightness(1.25) drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4))
        drop-shadow(0px 0px 10px rgba(105, 0, 130, 1));
}

g.node.alive-dead-unknown > rect {
    filter: drop-shadow(0px 0px 10px rgba(255, 150, 0, 1));
}

g.node.alive-dead-unknown > rect:hover {
    filter: brightness(1.25) drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4))
        drop-shadow(0px 0px 10px rgba(255, 150, 0, 1));
}

g.node.root {
    cursor: default;
    font-weight: bold;
}

g.node.root > rect {
    stroke: #616161;
    stroke-width: 8px;
    cursor: default;
}

text.date {
    font-family: monospace;
    font-size: 18px;
}

text.text-center {
    text-anchor: middle;
    dominant-baseline: middle;
}

text.text-start {
    text-anchor: start;
    dominant-baseline: text-before-edge;
}

g.sibling-indicator text {
    fill: #616161;
}

g.sibling-indicator.right-indicator path {
    transform: translate(60px, -50px) scale(-1, 1);
}

g.sibling-indicator.left-indicator path {
    transform: translate(-60px, -50px) scale(1, 1);
}

polyline.link-line {
    fill: none;
    stroke: #858585;
    stroke-width: 3;
}

polyline.link-line.spouse {
    stroke-dasharray: 1, 3;
}

g.sibling-indicator path.chevron {
    fill: none;
    stroke: #616161;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}
